<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Beer Shop</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
              asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css"
              crossorigin="anonymous"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-toggleable-sm navbar-inverse" id="top-navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarToggler">
            <a asp-area="Shopping" asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/images/Logo/logo.png" width="40" /></a>
            <ul class="navbar-nav mr-auto" id="top-navbar-main-menus">
                @Html.Partial("_MenuItems")
                <li class="nav-item">
                    <a class="nav-link" asp-area="Shopping" asp-controller="GiftSets" asp-action="All">Gift Sets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Shopping" asp-controller="Glasses" asp-action="All">Glasses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Shopping" asp-controller="Accessories" asp-action="All">Accessories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a>
                </li>
                @Html.Partial("_MenuAdmin")
                <li class="ml-5">
                    @Html.Partial("_SearchForm", new SearchFormModel())
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                <li id="my-shopping-cart">
                    @Html.Partial("_ShoppingCart")
                </li>
                <li class="nav-item">
                    <span class="nav-item">
                        @await Html.PartialAsync("_LoginPartial")
                    </span>
                </li>

            </ul>
        </div>
    </nav>
    @{
        if (TempData.ContainsKey(WebConstants.TempDataSuccessMessageKey))
        {
            <div class="text-center+">
                <div class="alert alert-success text-center fade show d-inline" role="alert" id="my-elert">
                    <strong>@TempData[WebConstants.TempDataSuccessMessageKey]</strong>
                </div>
            </div>
        }
        else if (TempData.ContainsKey(WebConstants.TempDataWarningMessageKey))
        {
            <div class="text-center">
                <div class="alert alert-warning text-center fade show d-inline" role="alert">
                    <strong>@TempData[WebConstants.TempDataWarningMessageKey]</strong>
                </div>
            </div>
        }
        else if (TempData.ContainsKey(WebConstants.TempDataDangerMessageKey))
        {
            <div class="text-center">
                <div class="alert alert-danger text-center fade show d-inline" role="alert">
                    <strong>@TempData[WebConstants.TempDataDangerMessageKey]</strong>
                </div>
            </div>
        }
    }
    @RenderBody()
    <footer id="my-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Beer Academy</h3>
                    <p>
                        The place where You will find high quality beer from all over the world, good mood and draft beer
                    </p>
                    <span class="text-center"><img src="~/images/Logo/logo.png" width="130" /></span>
                </div>
                <div class="col-md-3">
                    <h3 class="text-uppercase">Contact info</h3>
                    <h5>Address</h5>
                    <p>8000 Burgas, Bulgaria</p>
                    <p>Ulitsa Uilyam Gladston 61</p>
                    <h5>Phone Number</h5>
                    <p>+359 883 31 29 20</p>
                    <h5>Email Address</h5>
                    <p>thebeers.burgas@gmail.com</p>
                </div>
                <div class="col-md-3">
                    <h3 class="text-uppercase">Pages</h3>
                    <ul class="footer-list">
                        <li><a asp-area="Shopping" asp-controller="Home" asp-action="Index">Home</a><hr /></li>
                        <li><a asp-area="Shopping" asp-controller="Beers" asp-action="All">Beers</a><hr /></li>
                        <li><a asp-area="" asp-controller="Manage" asp-action="Index">Profile</a><hr /></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3 class="text-uppercase">Follow us</h3>
                    <a target="_blank" href="https://www.facebook.com/TheBEERSburgas/" class="my-fb-link">
                        <i class="fa fa-facebook-square fa-3x"></i>
                    </a>
                    <hr />
                    <h3 class="text-uppercase">Mailing list</h3>
                    <p>Sign up for newsletter</p>
                    <form method="post" asp-area="Shopping" asp-controller="Newsletter" asp-action="Subscribe">
                        <div class="input-group input-group-md">
                            <input name="email" type="email" class="form-control" placeholder="Your E-mail" required />
                            <input type="submit" class="input-group-addon" value="Subscribe" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="text-center">
                    <span class=" text-uppercase">Copyright &copy; 2016 - @DateTime.UtcNow.Year Beer Academy. All right reserved.</span>
                </div>
            </div>
        </div>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
