@model ProductsWithAddressViewModel
@{
    ViewData["Title"] = @"Check Out";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5><span class="glyphicon glyphicon-shopping-cart"></span>Address for delivery</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Town"></label>
                            <input asp-for="Town" class="form-control" />
                            <span asp-validation-for="Town" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Street"></label>
                            <input asp-for="Street" class="form-control" />
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ZipCode"></label>
                            <input asp-for="ZipCode" class="form-control"/>
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber"></label>
                            <input asp-for="PhoneNumber" class="form-control"/>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="AddressId" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5><span class="glyphicon glyphicon-shopping-cart"></span>Products</h5>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="card-title">
                        @if (Model.Beers.Any())
                        {
                            @foreach (var beer in Model.Beers)
                            {
                                <div class="row text-center">
                                    <div class="col-md-2 align-self-center">
                                        <img width="100" src="~/images/Beers/@beer.Image">
                                    </div>
                                    <div class="col-md-3 align-self-center">
                                        <h4 class="product-name"><strong>@beer.Name</strong></h4>
                                    </div>
                                    <div class="col-md-7 align-self-center">
                                        <div class="col-md-2 cart-fields  align-middle">
                                            <h6><strong>@beer.Price<span class="text-muted"> x</span></strong></h6>
                                        </div>
                                        <div class="col-md-2 cart-fields">
                                            <input type="text" class="form-control input-sm" value="@beer.Quantity" readonly>
                                        </div>
                                        <div class="col-md-3 cart-fields">
                                            <h6><strong>Total: @(beer.Price * beer.Quantity)</strong></h6>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            }
                        }
                        @if (Model.Accessories.Any())
                        {
                            @foreach (var accessory in Model.Accessories)
                            {
                                <div class="row text-center">
                                    <div class="col-md-2 align-self-center">
                                        <img width="100" src="~/images/Accessories/@accessory.Image">
                                    </div>
                                    <div class="col-md-3 align-self-center">
                                        <h4 class="product-name"><strong>@accessory.Name</strong></h4>
                                    </div>
                                    <div class="col-md-7 align-self-center">
                                        <div class="col-md-2 cart-fields  align-middle">
                                            <h6><strong>@accessory.Price<span class="text-muted"> x</span></strong></h6>
                                        </div>
                                        <div class="col-md-2 cart-fields">
                                            <input type="text" class="form-control input-sm" value="@accessory.Quantity" readonly>
                                        </div>
                                        <div class="col-md-3 cart-fields">
                                            <h6><strong>Total: @(accessory.Price * accessory.Quantity)</strong></h6>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            }
                        }
                        @if (Model.GiftSets.Any())
                        {
                            @foreach (var giftSet in Model.GiftSets)
                            {
                                <div class="row text-center">
                                    <div class="col-md-2 align-self-center">
                                        <img width="100" src="~/images/GiftSets/@giftSet.Image">
                                    </div>
                                    <div class="col-md-3 align-self-center">
                                        <h4 class="product-name"><strong>@giftSet.Name</strong></h4>
                                    </div>
                                    <div class="col-md-7 align-self-center">
                                        <div class="col-md-2 cart-fields  align-middle">
                                            <h6><strong>@giftSet.Price<span class="text-muted"> x</span></strong></h6>
                                        </div>
                                        <div class="col-md-2 cart-fields">
                                            <input type="text" class="form-control input-sm" value="@giftSet.Quantity" readonly>
                                        </div>
                                        <div class="col-md-3 cart-fields">
                                            <h6><strong>Total: @(giftSet.Price * giftSet.Quantity)</strong></h6>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            }
                        }
                        @if (Model.Glasses.Any())
                        {
                            @foreach (var glass in Model.Glasses)
                            {
                                <div class="row text-center">
                                    <div class="col-md-2 align-self-center">
                                        <img width="100" src="~/images/Glasses/@glass.Image">
                                    </div>
                                    <div class="col-md-3 align-self-center">
                                        <h4 class="product-name"><strong>@glass.Name</strong></h4>
                                    </div>
                                    <div class="col-md-7 align-self-center">
                                        <div class="col-md-2 cart-fields  align-middle">
                                            <h6><strong>@glass.Price<span class="text-muted"> x</span></strong></h6>
                                        </div>
                                        <div class="col-md-2 cart-fields">
                                            <input type="text" class="form-control input-sm" value="@glass.Quantity" readonly>
                                        </div>
                                        <div class="col-md-3 cart-fields">
                                            <h6><strong>Total: @(glass.Price * glass.Quantity)</strong></h6>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            }
                        }

                    </div>
                    <div class="panel-footer">
                        <div class="row text-center">
                            <div class="col-md-2">
                                <a asp-controller="Orders" asp-action="Cart" class="btn btn-sm btn-outline-primary">Back</a>
                            </div>
                            <div class="col-md-7 align-self-center">
                                <h4 class="text-right">Grand Total <strong>@Model.Total</strong></h4>
                                <input type="hidden" asp-for="Total" readonly/>
                            </div>
                            <div class="col-md-3 align-self-center">
                                <button type="submit" class="btn btn-outline-success btn-block">Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
