@model BeerDetailsServiceModel
@{
    ViewData["Title"] = $"{Model.Name}";
}
<section>
    <div class="container">
        <div class="card">
            <div class="row">
                <div class="col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active">
                            <img class="card-img-top" src="~/images/Beers/@Model.Image" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <div class="card-title text-uppercase"><h2>@Model.Name</h2></div>
                        <hr>
                    </div>
                    <div class="card-text">
                        <div>
                            <div class="card-text"><h3>Brewery: @Model.Brewery</h3></div>
                            <hr>
                            <div class="card-text"><h3>Country: @Model.Country</h3></div>
                            <hr>
                            <div class="card-text"><h3>Volume:  @Model.Volume ml</h3></div>
                            <hr>
                            <div class="card-text"><h3>Alcohol: @Model.Alcohol %</h3></div>
                            <hr>
                            <div class="card-text"><h3>Style: @Model.Style</h3></div>
                            <hr>
                            <div class="card-text"><h3>Color: @Model.Color.ToString()</h3></div>
                            <hr>
                            <div class="card-text">
                                <h3>
                                    Bitterness: 
                                    @{
                                        for (int i = 0; i < Model.Bitterness; i++)
                                        {
                                            <i class="fa fa-lemon-o "></i>
                                        }
                                    }
                                </h3>
                            </div>
                            <hr>
                            <div class="card-text">
                                <h3>
                                    Density: 
                                    @{
                                        for (int i = 0; i < Model.Density; i++)
                                        {
                                            <i class="fa fa-cloud"></i>
                                        }
                                    }
                                </h3>
                            </div>
                            <hr>
                            <div class="card-text">
                                <h3>
                                    Sweetness: 
                                    @{
                                        for (int i = 0; i < Model.Sweetness; i++)
                                        {
                                            <i class="fa fa-cube"></i>
                                        }
                                    }
                                </h3>
                            </div>
                            <hr>
                            <div class="card-text">
                                <h3>
                                    Gasification: 
                                    @{
                                        for (int i = 0; i < Model.Gasification; i++)
                                        {
                                            <i class="fa fa-beer"></i>
                                        }
                                    }
                                </h3>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <div class="card-title">Description</div>
                        <p>@Model.Description</p>
                    </div>
                    <div class="text-center">
                        <div class="card-footer"><h4>Price</h4></div>
                        <p>
                            @Model.Price $
                        </p>
                        <a data-ajax="true" 
                           data-ajax-method="GET"
                           data-ajax-update="#my-shopping-cart"
                           data-ajax-mode="replace"
                           asp-controller="Orders" asp-action="AddToCart" asp-route-id="@Model.Id" asp-route-product="beer" class="btn btn-outline-warning"><i class="fa fa-cart-arrow-down"></i> Add To Cart</a>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</section>
