@model UserDetailsModel
@{
    ViewData["Title"] = $"Details for {Model.Username}";
}
<h2>@ViewData["Title"]</h2>
<div>
    <a href="/administration/users/addrole/@Model.Id" class="btn btn-lg btn-info">Add Role</a>
</div>
<hr />

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Number of Orders</th>
            <th>Registered On</th>
            <th>Last Login</th>
            <th>Roles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Username</td>
            <td>@Model.Email</td>
            <td>@Model.FirstName</td>
            <td>@Model.LastName</td>
            <td>@Model.Address</td>
            <td>@Model.OrdersCount</td>
            <td>@Model.RegisteredOn</td>
            <td>@Model.LastLogin</td>
            <td>
                <ul>
                    @if (!Model.Roles.Any())
                    {
                        <li>Regular User</li>
                    }
                    @foreach (var role in Model.Roles)
                    {
                        <li>
                            @role
                        </li>
                    }
                </ul>
            </td>
            <td>
                <a href="/administration/users/delete/@Model.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<a href="/administration/users/all/" class="btn btn-sm btn-primary">Back</a>

