@model UserDetailsModel
@{
    ViewData["Title"] = $"Details for {Model.Username}";
}
<h2>@ViewData["Title"]</h2>
<hr />

<div class="container">
    <div class="row col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Username : @Model.Username </strong></div>
            <div class="panel-body">
                <p><strong>Name:</strong> @Model.FirstName @Model.LastName</p>
                <p><strong>Email:</strong> @Model.Email</p>
                <p><strong>Address:</strong> @Model.Address</p>
                <p><strong>Number of orders:</strong> @Model.OrdersCount</p>
                <p><strong>Registered On: </strong> @Model.RegisteredOn</p>
                <p><strong>Last Login: </strong> @Model.LastLogin</p>
            </div>
            <div class="panel-footer">
                <strong>Roles:</strong> @(string.Join(", ", Model.Roles))
            </div>
        </div>
        <a href="/administration/users/all" class="btn btn-info">Back</a>
        <a href="/administration/users/addrole/@Model.Id" class="btn btn-primary">Add Role</a>
        @if (Model.Username != WebConstants.AdminRole)
        {
            <a href="/administration/users/clearroles/@Model.Id" class="btn btn-danger">Remove Roles</a>
        }
    </div>
</div>

